<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Third Project</title>
    <link rel="stylesheet" href="/contact.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<body>
    <div class="login-box">
        <h2>Contact Me</h2>
        <form>
            <div class="user-box">
                <input id="username" type="text" name="" required="">
                <label>Name</label>
            </div>

            <div class="user-box">
                <input id="password" type="text" name="" required="">
                <label>Profession</label>
            </div>

            <div class="user-box">
                <input id="age" type="number" name="" required="">
                <label>Age</label>
            </div>

            <div class="user-box">
                <input id="residence" type="text" name="" required="">
                <label>Residence</label>
            </div>

            <div class="user-box">
                <input id="adress" type="text" name="" required="">
                <label>Adress</label>
            </div>

            <div class="user-box">
                <input id="languages" type="text" name="" required="">
                <label>Languages</label>
            </div>
            <div class="user-box">
                <input id="languages1" type="text" name="" required="">
                <label>Languages1</label>
            </div>
            <div class="user-box">
                <input id="languages2" type="text" name="" required="">
                <label>Languages2</label>
            </div>

            <div class="user-box">
                <input id="skills" type="text" name="" required="">
                <label>Skills</label>
            </div>
            <div class="user-box">
                <input id="skills1" type="text" name="" required="">
                <label>Skills1</label>
            </div>
            <div class="user-box">
                <input id="skills2" type="text" name="" required="">
                <label>Skills2</label>
            </div>
            <div class="user-box">
                <input id="skills3" type="text" name="" required="">
                <label>Skills3</label>
            </div>
            <div class="user-box">
                <input id="skills4" type="text" name="" required="">
                <label>Skills4</label>
            </div>

            <div class="user-box">
                <input id="extraskil" type="text" name="" required="">
                <label>Extra_skills </label>
            </div>
            <div class="user-box">
                <input id="extraskil1" type="text" name="" required="">
                <label>Extra_skills1</label>
            </div>
            <div class="user-box">
                <input id="extraskil2" type="text" name="" required="">
                <label>Extra_skills2</label>
            </div>
            <div class="user-box">
                <input id="extraskil3" type="text" name="" required="">
                <label>Extra_skills3</label>
            </div>

            <div class="user-box">
                <input id="place" type="text" name="" required="">
                <label>Work_place</label>
            </div>
            <div class="user-box">
                <input id="desc" type="text" name="" required="">
                <label>Service_desc</label>
            </div>
            <div class="user-box">
                <input id="about" type="text" name="" required="">
                <label>About_me</label>
            </div>




            <div class="user-box">
                <input type="text" name="" required="">
                <label></label>
            </div>

            <a id="submit" href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span> Submit
            </a>

        </form>
    </div>
    <script src="/main-bundled.js"></script>
</body>

</html>