<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Third Project</title>
    <link rel="stylesheet" href="/contact.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<body>
    <div class="login-box">
        <h2>Contact Me</h2>
        <form>
            <div class="user-box">
                <input id="username" type="text" name="" required="">
                <label>Name</label>
            </div>
            <div class="user-box">
                <input id="password" type="text" name="" required="">
                <label>Profession</label>
            </div>
            <div class="user-box">
                <input id="age" type="number" name="" required="">
                <label>Age</label>
            </div>

            <div class="user-box">
                <input id="adress" type="text" name="" required="">
                <label>Adress</label>
            </div>

            <div class="user-box">
                <input id="place" type="text" name="" required="">
                <label>Work_place</label>
            </div>
            <div class="user-box">
                <input type="text" name="" required="">
                <label></label>
            </div>

            <a id="submit" href="#">
                <span></span>
                <span></span>
                <span></span>
                <span></span> Submit
            </a>

        </form>
    </div>
    <script src="/main-bundled.js"></script>
</body>

</html>