<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Second Project</title>
    <link rel="stylesheet" href="/project.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>

<body>
    <div class="frame">

        <div class="main_frame">
            <div class="main_top">
                <div class="top_booton">
                    <img src="assets/project/GPT-3.svg" class="gpt"></div>
                <div class="top_booton">
                    <div class="top_button">Home</div>
                </div>
                <div class="top_booton">
                    <div class="top_button" style="width: 122px;">What is GPT?</div>
                </div>
                <div class="top_booton">
                    <div class="top_button" style="width: 65px;">Open AI</div>
                </div>
                <div class="top_booton">
                    <div class="top_button" style="width: 113px;">Case Studies</div>
                </div>
                <div class="top_booton">
                    <div class="top_button" style="width: 58px;">Library</div>
                </div>
                <div class="sing_in">
                    <div class="login-box">
                        <form>
                            <a href="#">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span> Sing in
                            </a>
                        </form>
                    </div>

                    <div class="sing_up">
                        <div class="sing_up_text"> Sing up</div>
                    </div>
                </div>
            </div>
            <div class="text_box">
                <div class="big_text1">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</div>
                <div class="text1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque corporis quas autem incidunt? Temporibus, quia.</div>
                <div class="box_get">
                    <div class="you_email">Your Email Address

                    </div>
                    <div class="box_getstarted">
                        <div class="get_text">Get Started</div>
                    </div>
                </div>
                <div class="user"><img src="assets/project/Ellipse 31.svg" class="user1">
                    <div class="user2"><img src="assets/project/Ellipse 32.svg"></div>
                    <div class="user3"><img src="assets/project/Ellipse 33.svg"></div>
                    <div class="user4"><img src="assets/project/Ellipse 34.svg"></div>
                    <div class="user5"><img src="assets/project/Ellipse 35.svg"></div>
                    <div class="user6"><img src="assets/project/Ellipse 36.svg"></div>
                    <div class="user7"><img src="assets/project/Ellipse 37.svg">
                        <div class="k">1.6k+</div>
                    </div>
                    <div class="access">1,600 people requested access a visit in last 24 hours</div>
                </div>


            </div>
            <div class="blur1"></div>
            <div class="head_box"> <img src="assets/project/Header.svg">
                <div class="light"></div>
            </div>
            <div class="Comapnies_Logo">
                <div class="google"><img src="assets/project/google.svg" alt=""></div>
                <div> <img src="assets/project/slack.svg"></div>
                <div> <img src="assets/project/dropbox.svg"></div>
                <div> <img src="assets/project/shopify.svg"></div>
            </div>
            <div class="blur"></div>



        </div>


    </div>
    </div>

    <script src="/main-bundled.js"></script>
</body>

</html>